<div class="background-container">
  <aside class="sidebar">
    <section class="name">
      <h1>Ciprian Crisan</h1>
      <h2>Tech Pioneer</h2>
    </section>
    <nav>
      <ul>
        <li><a href="#">INTRO</a></li>
        <li><a href="#">ABOUT ME</a></li>
        <li><a href="#">EXPERIENCE</a></li>
        <li><a href="#">SKILLS</a></li>
        <li><a href="#">PROJECTS</a></li>
        <li><a href="#">CONTACT</a></li>
      </ul>
    </nav>
    <section class="social-media-logos">
      <ul>
        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
        <li><a href="#"><i class="fab fa-github"></i></a></li>
        <li><a href="#"><i class="fas fa-envelope"></i></a></li>
      </ul>
    </section>
  </aside>

  <div id="image-track">
    <%= image_tag('profile/me-huayna.jpeg', class: 'image', alt: "Ciprian's profile picture") %>
    <%# <%= image_tag('profile/profile_photo.jpg', class: 'image', alt: "Ciprian's profile picture") %>
    <%= image_tag('profile/me-paris.jpeg', class: 'image', alt: "Ciprian's profile picture") %>
    <%= image_tag('profile/me-trains.jpeg', class: 'image', alt: "Ciprian's profile picture") %>
    <%= image_tag('profile/me-triatlon.jpeg', class: 'image', alt: "Ciprian's profile picture") %>
    <%= image_tag('profile/me-motocross.jpeg', class: 'image', alt: "Ciprian's profile picture") %>
    <%= image_tag('profile/me-peru.jpeg', class: 'image', alt: "Ciprian's profile picture") %>
    <%= image_tag('profile/me-saint-malo.jpeg', class: 'image', alt: "Ciprian's profile picture") %>
    <%= image_tag('profile/me-salar.jpeg', class: 'image', alt: "Ciprian's profile picture") %>
    <%= image_tag('profile/me-swiss.jpeg', class: 'image', alt: "Ciprian's profile picture") %>
  </div>

  <main class="content">
    <header>
        <button class="btn-download" role="button">DOWNLOAD MY CV</button>
        <button class="btn-contact" role="button">GET IN TOUCH</button>
    </header>
    <div class="main-content">
      <section class="introduction">
        <div class="label-container">
          <div class="label-number">1</div>
          <div class="label-title">INTRODUCTION</div>
          <hr class="horizontal-line">
        </div>
        <div class="introduction-text">
          <h1>Hello! I am Ciprian,</h1>
          <h2>I'm passionate about technology and its potential to make a positive difference in our world.</h2>
          <p>As a junior full-stack web developer with a background in mechanical engineering, I am passionate about using technology to make a positive impact in the world. Being a sport and a nature enthusiast, the human-nature relationship represents the starting point of my every project. Through innovative solutions, my goal is to contribute meaningfully to society and make a positive impact on people's life around me.</p>
          <%# <%= image_tag('thumbnails/intro-timeline.png', class: 'intro-timeline', alt: "Ciprian's profile picture") %>
        </div>
        <%# <div class="introduction-pic">
          <%= image_tag('thumbnails/intro-timeline.png', class: 'intro-timeline', alt: "Ciprian's profile picture") %>
        <%# </div> %>
        <%# <div class="intro-icons-container">
          <%= image_tag('thumbnails/engineer.jpg', class: 'eng-thumb', alt: "Ciprian's profile picture") %>
        <%#  <i class="fa-solid fa-laptop-code"></i>
          <i class="fa-solid fa-people-group"></i>
          <i class="fa-solid fa-mountain"></i>
          <i class="fa-solid fa-person-biking"></i>
        </div> %>
      </section>

      <section class="about-me">
        <div class="label-container">
          <div class="label-number">2</div>
          <div class="label-title">ABOUT ME</div>
          <hr class="horizontal-line">
        </div>
        <div class="about-me-text">
          <h1>About me</h1>
          <p>With over eight years of experience in the automotive industry, I am a passionate and skilled Technical Project Leader at Vitesco Technologies, a global leader in electrification solutions. My core competencies include finite element analysis (FEA), simulation, mechanical design, and project management. I am driven by the mission of creating innovative and sustainable products that reduce emissions and enhance mobility. I bring diverse perspectives and experiences to the team, as I have worked and studied in different countries and cultures, and learned multiple languages. <br><br>

          As a Technical Project Leader, I coordinate and manage the mechanical activities for product development, applying the PLC, MLC, and PM methods to respect the development process. I am responsible for planning, engineering requirements, and mechanical architecture, as well as leading the assigned mechanical team. I also collaborate with cross-functional teams and stakeholders to ensure the quality and efficiency of the projects. Some of the skills that I use and develop in this role are effort estimation, moderating, problem solving, and web development. <br><br>

          I recently completed a full-stack web development bootcamp at Le Wagon, where I learned how to build web applications using HTML, CSS, JavaScript and Ruby On Rails. I am always eager to learn new technologies and tools that can enhance my performance and creativity. <br><br>

          So now I am on a mission to change my career and take on new challenges! </p>
        </div>
        <script>
          import { Application } from '@splinetool/runtime';

          const canvas = document.getElementById('canvas3d');
          const app = new Application(canvas);
          app.load('https://prod.spline.design/AQJWBucGo7OGDpe6/scene.splinecode');
        </script>
      </section>

      <section class="experience">
        <div class="label-container">
          <div class="label-number">3</div>
          <div class="label-title">EXPERIENCE</div>
          <hr class="horizontal-line">
        </div>
        <div class="experience-text">
          <div class="ag-format-container">
            <div class="ag-job_box">
              <div class="ag-job_item">
                <a href="#" class="ag-job-item_link">
                  <div class="ag-job-item_bg"></div>

                  <div class="ag-job-item_title">
                    Full Stack Web Developer <br> @Le Wagon Bootcamp
                  </div>

                  <div class="ag-job-item_date-box">
                    Timeline:
                    <span class="ag-job-item_date">
                      Oct 2022 - Apr 2023 (6m)
                    </span>
                  </div>
                </a>
              </div>

              <div class="ag-job_item">
                <a href="#" class="ag-job-item_link">
                  <div class="ag-job-item_bg"></div>

                  <div class="ag-job-item_title">
                    Technical Project Leader <br> @Vitesco Technologies
                  </div>

                  <div class="ag-job-item_date-box">
                    Timeline:
                    <span class="ag-job-item_date">
                      0ct 2019 - Present (4y)
                    </span>
                  </div>
                </a>
              </div>

              <div class="ag-job_item">
                <a href="#" class="ag-job-item_link">
                  <div class="ag-job-item_bg"></div>

                  <div class="ag-job-item_title">
                    FEA Engineer <br> @Continental Automotive
                  </div>

                  <div class="ag-job-item_date-box">
                    Timeline:
                    <span class="ag-job-item_date">
                      May 2015 - Oct 2019 (4y 6m)
                    </span>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="skills">
        <div class="label-container">
          <div class="label-number">4</div>
          <div class="label-title">SKILLS</div>
          <hr class="horizontal-line">
        </div>
        <div class="skills-text">
          <div class="skills-container">
            <div class="skill">
              <%= image_tag('stack-logos/html.png', class: 'image-skill', alt: "HTML logo") %>
              <h4>HTML</h4>
            </div>
            <div class="skill">
              <%= image_tag('stack-logos/css.png', class: 'image-skill', alt: "CSS logo") %>
              <h4>CSS</h4>
            </div>
            <div class="skill">
              <%= image_tag('stack-logos/js.png', class: 'image-skill', alt: "Javascript logo") %>
              <h4>JS</h4>
            </div>
            <div class="skill">
              <%= image_tag('stack-logos/ruby.png', class: 'image-skill', alt: "Ruby logo") %>
              <h4>Ruby</h4>
            </div>
            <div class="skill">
              <%= image_tag('stack-logos/rails.png', class: 'image-skill', alt: "Rails logo") %>
              <h4>Rails</h4>
            </div>
            <div class="skill">
              <%= image_tag('stack-logos/postgresql.png', class: 'image-skill', alt: "PostgreSQL logo") %>
              <h4>PostgreSQL</h4>
            </div>
            <div class="skill">
              <%= image_tag('stack-logos/c.png', class: 'image-skill', alt: "C logo") %>
              <h4>C</h4>
            </div>
            <div class="skill">
              <%= image_tag('stack-logos/github.png', class: 'image-skill', alt: "Github logo") %>
              <h4>GitHub</h4>
            </div>
          </div>
        </div>
      </section>

      <section class="projects">
        <div class="label-container">
          <div class="label-number">5</div>
          <div class="label-title">PROJECTS</div>
          <hr class="horizontal-line">
        </div>
        <div class="projects-text">
          <div class="projects-container">
            <p><strong>AllShare</strong> is a market place for people who want to contribute with their things to help communities use more, but consume less. <br><br>

            This web application has been developed in a team of 4, using the following tech stack: Ruby, Ruby on Rail, PostgreSQL, HTML, CSS, Bootstrap, JS, GitHub and Heroku. The project has been developed during the last month of Le Wagon's bootcamp. </p>
            <%= image_tag('projects/allshare.png', class: 'image-project', alt: "Allshare landing page") %>
          </div>
        </div>
      </section>

      <section class="contact">
        <div class="label-container">
          <div class="label-number">6</div>
          <div class="label-title">CONTACT</div>
          <hr class="horizontal-line">
        </div>
        <div class="contact-form">
          <%= form_with model: @contact_message, url: contact_path, local: true do |form| %>
            <% if @contact_message.errors.any? %>
              <div id="error_exaplanation">
                <h2><%= pluralize(@contact_message.errors.count, "error") %> prohibited this message from being sent:</h2>
                <ul>
                  <% @contact_message.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>

            <div class="contact-input-group">
              <%= form.text_field :name, placeholder: 'Full name', id: 'name_field' %>
            </div>

            <div class="contact-input-group">
              <%= form.label :email %>
              <%= form.email_field :email %>
            </div>

            <div class="contact-input-group">
              <%= form.label :subject %>
              <%= form.text_field :subject %>
            </div>

            <div class="contact-input-group">
              <%= form.label :message %>
              <%= form.text_area :message, rows: '8' %>
            </div>

            <div class="contact-input-group">
              <%= form.submit "Send Message" %>
            </div>
          <% end %>
        </div>
      </section>
    </div>
  </main>
</div>

<%# <script>
const imageTrack = document.getElementById('image-track');

const scrollAmount = 500;  // The amount to scroll for each wheel event

imageTrack.addEventListener('wheel', function(event) {
    let direction = event.deltaY > 0 ? 1 : -1;
    let targetPosition = imageTrack.scrollTop + direction * scrollAmount;

    smoothScrollTo(targetPosition);
    event.preventDefault();
}, { passive: false });

function smoothScrollTo(targetPosition) {
    imageTrack.scrollTo({
        top: targetPosition,
        behavior: 'smooth'
    });
}

imageTrack.addEventListener('scroll', function() {
    if (imageTrack.scrollTop + imageTrack.clientHeight >= imageTrack.scrollHeight) {
        customSmoothScrollTo(imageTrack, 0, 1000);  // Smoothly scroll back to the top
    }
});

function customSmoothScrollTo(element, targetPosition, duration) {
    let startTime = null;
    let startPosition = element.scrollTop;

    function animate(time) {
        if (startTime === null) startTime = time;
        const timeElapsed = time - startTime;
        const progress = Math.min(timeElapsed / duration, 1);

        element.scrollTop = startPosition + (targetPosition - startPosition) * easeInOutQuad(progress);
        if (progress < 1) {
            requestAnimationFrame(animate);
        }
    }

    requestAnimationFrame(animate);
}

function easeInOutQuad(t) {
    return t < 0.5 ? 2 * t * t : -1 + (4 - 2 * t) * t;
}
</script> %>
<%# <script>
  document.getElementById('image-track').addEventListener('click', function(event) {
    const images = this.getElementsByClassName('image');

    for (let i = 0; i < images.length; i++) {
      images[i].style.opacity = 1; // Make all images visible
      images[i].style.transform = `translateY(${i * 1}%)`; // Move each image down by its height * its index
    }
  });
</script> %>
